@font-face {
  font-family: "NanumSquare_acR";
  src: url(./assets/fonts/NanumSquare_acR.ttf);
}

@font-face {
  font-family: "NanumSquare_acL";
  src: url(./assets/fonts/NanumSquare_acL.ttf);
}

@font-face {
  font-family: "Pretendard_Regular";
  src: url(./assets/fonts/Pretendard-Regular.otf);
}

@font-face {
  font-family: "Pretendard_Bold";
  src: url(./assets/fonts/Pretendard-Bold.otf);
}

@font-face {
  font-family: "Pretendard_Medium";
  src: url(./assets/fonts/Pretendard-Medium.otf);
}

@font-face {
  font-family: "Pretendard_Light";
  src: url(./assets/fonts/Pretendard-Light.otf);
}

@font-face {
  font-family: "Pretendard_Thin";
  src: url(./assets/fonts/Pretendard-Thin.otf);
}



body {
  margin: 0;
  font-family:  "Pretendard_Regular", "NanumSquare_acR", "NanumSquare_acL", "Pretendard_Thin", "Pretendard_Bold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div, button, span, input{
  font-family: "Pretendard_Regular", "NanumSquare_acR", "Pretendard_Medium", "Pretendard_Light", "Pretendard_Thin", "Pretendard_Bold";
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
